@import url("fonts/Mountain.ttf");

@font-face {
    font-family: Mountain;
    src: url(fonts/Mountain.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #564E58;
}

h1,
h2,
h3,
h4 {
    font-family: "Mountain";
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: black;
    width: 100%;
    height: 100%;
}

#wrapper {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #94B9AF;
    width: 90%;
    height: auto;
    min-height: 700px;
    max-height: 3500px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    background-color: #90A583;
    height: 90px;
    align-items: center;
    padding: 0 20px;
}

nav img {
    width: 90px;
    margin-top: 2px;
}

nav a:hover{
    color: #904E55;
    transform: scale(1.2);
}

footer img {
    width: 90px;
}

#nav_buttons {
    display: flex;
    gap: 30%;
    margin: auto;
    width: 60%;
}

footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #90A583;
    height: 100px;
    align-items: center;
    padding: 0 20px;
}

i {
    font-size: 40px;
    color: white;
    margin: 20px;
}

#hero {
    padding-top: 0px;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

#hero img {
    width: 100%;
    transform: translateY(-33%);
    position: relative;
}

#welcome {
    display: block;
    color: #564E58;
    text-align: center;
    padding: 50px;
    margin: auto;
    margin-top: 100px;
    width: 95%;
}

#shop {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    background: #904E55;
    width: 99%;
    padding: 40px;
}

#shop h1 {
    font-size: 70px;
}

#shop li {
    font-size: 25px;
    text-align: center;  
    width: 70%;          
    margin: 10px auto;
}

#shop img {
    margin: 20px;
    width: 50%;    
    aspect-ratio: 1/1;
    box-shadow: 3px 3px 15px black;
    object-fit: cover;
    border-radius: 50%;
}

#shop section {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 30px;
}

#overview {
    display: flex;
    /* align-items: center; */
    overflow: hidden;
    width: 100%;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#overview img{
    width: 80%;
    aspect-ratio: 1/1;
    margin-left: 50px;
    object-fit: cover;
    object-position: 0 10%;
}

#overview p{
    padding-top: 20%;
    margin-left: 10px;
    padding-right: 90px;
    text-align: center;
}

#overview a {
    display: block;
    text-align: center;
    margin-right: 60px;
    color: #904E55;
    font-size: 30px;
    font-family: "Mountain";
}